<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{content}}</li>
    <li class="list-group-item">Posted {{created_at}} by {{user.username}}</li>
  </ul>
</div>