<div class="card" style="width: 50rem;">
  {{#each this}}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{comment_content}}</li>
    <li class="list-group-item">Posted on {{format_date date_created}} by {{user.username}}</li>
  </ul>
  {{/each}}
</div>
