<div class="container">
    <form>
        <div class="form-group new-post">
            <label for="post-title">Title</label>
            <input type="title" class="form-control" id="post-title">
        </div>
        <div class="form-group">
            <label for="post-content">Content</label>
            <textarea class="form-control" id="post-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>

</div>

<script src = "/js/post.js"></script>