<div class="container">
    <form>
        <div class="form-group edit-post">
            <label for="post-title">Title:</label>
            <input type="title" class="form-control" id="post-title">
        </div>
        <div class="form-group">
            <label for="post-content">Content</label>
            <textarea class="form-control" id="post-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"> Edit Post</button>
        <button type="submit" class="btn btn-primary"> Delete Post</button>
    </form>
</div>

{{>comments post.comments}}

<script src ="/public/js/edit-post.js"></script>
<script src ="/public/js/delete-post.js"></script>
<script src ="/public/js/comment.js"></script>