<div class="container">
    <form>
        <div class="form-group" "login-form">
            <label for="email-login">Please enter your username</label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="password-login">Please enter your password</label>
            <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href ='/signup'>Sign up Instead!</a>
    </form>

</div>