<div class="container">
    <div class="row"></div>
        <form class = "login-form">
            <div class="form-group">
                <label for="user-login">Please enter your username</label>
                <input type="username" class="form-control" id="user-login">
            </div>
            <div class="form-group">
                <label for="password-login">Please enter your password</label>
                <input type="password" class="form-control" id="password-login">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href='/signup'>Sign up Instead!</a>
        </form>
    </div>
</div>

<script src="../public/js/login.js"></script>