{{> post-info post}}

{{#if loggedIn}}
<div class="container">
    <form>
        <div class="form-group comment-form">
            <label for="comment-content">Comment</label>
            <textarea class="form-control" id="comment-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>

</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src = "./js/comment.js"></script>
{{/if}}