{{> post-info post}}
<br>
<h5>Comments:</h5>
{{> comments post.comments}}

{{#if logged_in}}
    <form>
        <div class="form-group comment-form">
            <label for="comment-content">Comment</label>
            <textarea class="form-control" id="comment-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
{{/if}}



{{#if logged_in}}
<script src = "/js/comment.js"></script>
{{/if}}