body { 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.navbar { 
    background-color: #d52e3f;
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
}
.navbar-brand {
    font-size: 5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    color: #fcedd8;
    background: #d52e3f;
    font-family: 'Lobster Two', cursive;    
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 
                10px 10px 0px #efa032, 
                15px 15px 0px #46b59b, 
                20px 20px 0px #017e7f, 
                25px 25px 0px #052939, 
                30px 30px 0px #c11a2b;
}

.card { 
    border-color: #46b59b;
}

.card-title { 
    color:#052939;
}

.btn-primary {
    background-color:#052939;
    border:#46b59b; 
    color: #46b59b; 
}
.no-button{ 
    background: #d52e3f;
    border:none;
    color: rgba(255,255,255,.5);
}